include ~bemuse/view/utils

Scene.music-select-scene

  SceneHeading.music-select-scene--heading Select Music

  +section('loading')

    p.music-select-scene--loading Loading…

  +inverted-section('loading')

    ul.music-list
      +section('songs')
        li.music-list-item(class="{{isSongSelected(this) ? 'active' : ''}}"
                           on-click="selectSong(this)")
          +section('tutorial')
            div.tutorial Tutorial
          +inverted-section('tutorial')
            div.title {{title}}
            div.artist {{artist}}
            div.genre {{genre}}

    +section('chart')
      section.selected-song
        +section('info')
          section.song-info
            div.song-info--genre {{genre}}
            div.song-info--title {{title}}
            +section('subtitles')
              div.song-info--subtitle {{.}}
            div.song-info--artist
              | {{artist}}
              = ' '
              +section('subartists')
                small
                  = '· '
                  | {{joinsubs(subartists)}}
        +section('song.tutorial')
          .start-tutorial-button(on-click="startGame()") Start Tutorial
        +inverted-section('song.tutorial')
          ul.chart-list
            +section('song.charts')
              li(class="{{isChartSelected(this) ? 'active' : ''}}"
                 on-click="selectChart(this)") {{info.level}}
        dl
          dt MD5
          dd {{md5}}
          dt Filename
          dd {{file}}
          +section('song')
            dt Artist URL
            dd {{artist_url}}
            dt BMS URL
            dd {{bms_url}}
            dt Song URL
            dd {{song_url}}
            dt Long Version URL
            dd {{long_url}}
