
div(class='Bootのtitle')
  span(class='Bootのtext') BE
  span(class='Bootの星') &#9734;
  span(class='Bootのtext') MU
  span(class='Bootの星') &#9734;
  span(class='Bootのtext') SE
div(class='Bootのprogress')
  div(class='BootのprogressBar').js-progress-bar
div(class='Bootのdescription') Loading
div(class='Bootのversion').js-version
