
@import "../../view/common.scss";

.loading-scene {
  @extend %scene;
  @include main-bg;

  &--info {
    position: absolute;
    top: 40%; left: 0; right: 0;
    transform: translateY(-50%);
  }

  .loading-scene-song-info {
    animation: loading-scene-song-info-animation 1s ease;
  }

  .loading-scene-progress {
    position: absolute;
    bottom: 10px; left: 10px;
  }

  &--flash {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
    pointer-events: none;

    background: white;
    animation: loading-scene--flash-animation 0.8s ease-out;
  }

  &--cover {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
    pointer-events: none;

    background: black;
  }

  .scene.is-exiting & {
    &--info {
      animation: loading-scene--info-exit 0.3s linear;
    }
    &--flash {
      animation: loading-scene--flash-exit 0.3s ease;
    }
    &--cover {
      animation: loading-scene--cover-exit 0.3s linear;
      opacity: 1;
    }
  }

}

@keyframes loading-scene-song-info-animation {
  0%    { transform: scale(1.5, 0.02); }
  100%  { transform: scale(1, 1); }
}

@keyframes loading-scene--info-exit {
  0%    { transform: translateY(-50%) scale(1, 1); }
  100%  { transform: translateY(-50%) scale(2, 2); }
}

@keyframes loading-scene--cover-exit {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes loading-scene--flash-animation {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

@keyframes loading-scene--flash-exit {
  0%    { opacity: 0.5; }
  100%  { opacity: 0; }
}

.loading-scene-song-info {

  background: rgba(#fff, 0.96);
  color: #191817;
  text-align: center;
  padding: 25px 0px;
  box-shadow: 0 2px 18px rgba(#000, 0.2);

  &--genre {
    font-size: 3vmin;
  }
  &--title {
    font-size: 8vmin;
    font-weight: bold;
  }
  &--subtitle {
    font-size: 6vmin;
  }
  &--artist {
    font-size: 4vmin;
    margin-top: 0.8ex;
  }
  &--subartist {
    font-size: 2.5vmin;
  }

}

.loading-scene-progress {
  color: #333;
  font-size: 11px;
  .loading-scene-progress-bar {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    margin-right: 4px;
    position: relative;
    top: -1px;
  }
}


.loading-scene-progress-bar {
  border: 1px solid rgba(#000, 0.6);
  padding: 1px;
  &--bar {
    height: 8px;
    background: rgba(#000, 0.6);
    width: 0%;
  }
  &--progress {
    font-size: 83%;
    opacity: 0.7;
  }
}


