.game-display {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  &--bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: url(./background/default.jpg) center no-repeat;
    background-size: cover;
    animation: 1.5s game-display--bg-default;
    animation-fill-mode: both;
  }

  &--video-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -48px;
    left: 0px;
    z-index: 11;
    opacity: 0;
    transition: 0.5s opacity;
    will-change: opacity;
    &.is-playing {
      opacity: 1;
    }
  }
  &[data-panel-placement='left'] &--video-bg {
    transform: translateX(13.671875%) scale(0.87);
  }
  &[data-panel-placement='right'] &--video-bg {
    transform: translateX(13.671875%) scale(0.87);
  }

  &--bg img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    animation: 1.2s game-display--bg-default;
    animation-fill-mode: both;
  }

  > canvas {
    position: relative;
    z-index: 100;
  }

  &--escape {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 110;
  }
}

@keyframes game-display--bg-default {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, -35px);
    opacity: 1;
  }
}
