include ~bemuse/view/utils

li.music-list-item(class="{{selected ? 'is-active' : ''}}" on-click='click')
  +section('tutorial')
    .music-list-item--tutorial Tutorial
  +inverted-section('tutorial')
    .music-list-item--title {{title}}
    .music-list-item--artist {{artist}}
    .music-list-item--genre {{genre}}
