{
  "presets": ["env", "react", "stage-2"],
  "plugins": ["emotion", "espower"],
  "env": {
    "test": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }],
        "istanbul"
      ]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }],
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    }
  }
}
