{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-react"
  ],
  "plugins": [
    "emotion",
    "babel-plugin-espower",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }],
        "istanbul"
      ]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }],
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    }
  }
}
