**/node_modules/**/*
**/vendor/**/*
**/lib/**/*
**/dist/**/*
**/build/**/*
**/coverage/**/*
**/.nyc_output/**/*
**/.yarn/**/*
common/changes/
common/scripts/
common/config/
pnpm-lock.yaml
yarn.lock
package-lock.json
shrinkwrap.json
