**/node_modules/**/*
**/public/**/*
**/vendor/**/*
**/lib/**/*
**/dist/**/*
**/build/**/*
**/coverage/**/*
**/.nyc_output/**/*
**/.yarn/**/*
common/changes/**/*
common/temp/**/*
common/scripts/**/*
common/config/**/*
pnpm-lock.yaml
yarn.lock
package-lock.json
shrinkwrap.json
**/*.md
changelog/*.md