.jukebox
  .jukebox--overlay
  .jukebox--inner
    h1 BMS Jukebox
    p.jukebox--status.js-log Waiting for BMS file...
    p Google Chrome: Drag a BMS folder into this box.
    p Firefox, Safari: Select all files (BMS+sounds) and drag into this box.
    button.js-play Click Here to Play
    div.js-sampler.jukebox--sampler
