doctype xml
skin(width='1280' height='720')

  image(src='NotePanel/Left.png')
  image(src='InfoPanel/Background.png')
  image(src='NoteHint/Active/Note.png')
  image(src='NoteHint/Active/Scratch.png')

  sprite(image='InfoPanel/Background.png' y='616')
    animation
      keyframe(t='0' y='720')
      keyframe(t='0.3' y='616')

  group(x='123' y='345')
    sprite(image='NoteHint/Active/Note.png' x='123' y='123')
    sprite(image='NoteHint/Active/Scratch.png' x='234' y='123')

  object(type='note_1')
    sprite(image='Note/DX.png' y='-1')
