doctype xml
skin(width='1280' height='720')

  image(src='NotePanel/Left.png')
  image(src='InfoPanel/Background.png')
  image(src='NoteArea/Background/DXL.png')
  image(src='NoteArea/Flash.png')

  // note panel
  group
    sprite(image='NotePanel/Left.png' x='0' y='0')
    group(x='34' y='0')
      sprite(image='NoteArea/Background/DXL.png' x='0' y='0')
      sprite(image='NoteArea/Flash.png' x='1' y='476' blend='screen')

  // info panel
  sprite(image='InfoPanel/Background.png' y='616')
