doctype xml
theme

  image(src='NotePanel/Left.png')
  image(src='InfoPanel/Background.png')

  sprite(image='InfoPanel/Background.png' y='616')
    animation
      keyframe(t='0' y='720')
      keyframe(t='0.3' y='616')
