
// The common library for user interface.
// This file must not emit any CSS code! It can only contain variable,
// mixin, or silent class declarations.

$ui-font: "Source Sans Pro", "Segoe UI", "Helvetica Neue", sans-serif;
$link-color: #039;

@mixin full-screen {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

@mixin centered {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

@mixin scrolling-y {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin main-bg {
  background: url(~bemuse/ui/images/bg/a.jpg) center no-repeat;
  background-size: cover;
}

@mixin soft-shadow {
  box-shadow: 0 0.1vh 3vh rgba(#000, 0.1);
}
