
@import "./common.scss";

@media (min-width: 1279px) and (max-width: 1281px) and (min-height: 719px),
       (min-height: 719px) and (max-height: 721px) and (min-width: 1279px) {
  canvas { /* https://code.google.com/p/chromium/issues/detail?id=424025 */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  }
}

body {
  font-family: $ui-font;
}

a {
  color: $link-color;
}

:root {
  @media (min-aspect-ratio: 1/1) {
    @media (max-width: 920px) {
      font-size: 12px;
    }
    @media (min-width: 920px) {
      font-size: (12 / 920) * 100vw;
    }
  }
  @media (max-aspect-ratio: 1/1) {
    font-size: (12 / 600) * 100vw;
  }
  body {
    font-size: 1rem;
  }
}
