
@import "./common.scss";

.Scene {
  @include full-screen;
  overflow: hidden;
  font-family: $ui-font;
  > .SceneHeading {
    position: absolute;
    top: 2rem; right: 0; left: 0;
  }
  > .SceneToolbar {
    position: absolute;
    right: 0; bottom: 0; left: 0;
  }
}
