.FeatureBlockのcontent {
  line-height: 1.7;
}
.container .wrapper .FeatureBlockのcontent h2 {
  margin: 0 0 10px;
  padding: 0;
}
.container .wrapper .FeatureBlockのcontent p:first-child {
  padding-top: 0;
}
.FeatureBlockのimage {
  margin-top: 20px;
}

@media (min-width: 736px) {
  .FeatureBlock {
    display: flex;
    align-items: center;
  }
  .FeatureBlock[data-image-align='left'] {
    flex-direction: row-reverse;
  }
  .FeatureBlock[data-image-align='right'] {
    flex-direction: row;
  }
  .FeatureBlock[data-image-align='right'] .FeatureBlockのimage {
    margin-left: 40px;
  }
  .FeatureBlock[data-image-align='left'] .FeatureBlockのimage {
    margin-right: 40px;
  }
  .FeatureBlockのcontent {
    flex: 1;
    text-align: left;
  }
  .FeatureBlockのimage {
    width: 360px;
    margin-top: 0px;
  }
}
@media (min-width: 900px) {
  .FeatureBlockのimage {
    width: 500px;
  }
}
