@import '~bemuse/ui/common';

.MusicListItemCharts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -0.2rem;
  flex-wrap: wrap;
  .MusicListItemChart {
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    flex: none;
  }
}
