h1 橋の絵
table
  tr
    th ハ
    td HarpJS
  tr
    th シ
    td SystemJS
  tr
    th ノ
    td Node.js
  tr
    th エ
    td ECMAScript 6
script(src="jspm_packages/system.js")
script(src="config.js")
script
  System.import('app/main').catch(console.error.bind(console))
