
mixin section(name, as)
  != '{{#' + name + (as ? ':' + as : '') + '}}'
  block
  != '{{/}}'

mixin if(expr)
  != '{{#if ' + expr + '}}'
  block
  != '{{/if}}'

mixin inverted-section(name)
  != '{{^' + name + '}}'
  block
  != '{{/}}'
