
@import "~bemuse/ui/common";

.experiment-scene {
  display: flex;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  align-items: center;
  justify-content: center;

  &--button {
    @include button;
    font-size: 18px;
  }

  &--message {
    text-align: center;
    font-size: 16px;
  }

  &--progress {
    width: 100px;
    margin: 1em auto;
    border: 1px solid #8b8685;
    padding: 1px;
  }
  &--progress-bar {
    height: 5px;
    background: #8b8685;
    transition: 0.5s transform linear;
    transform-origin: left;
  }
}
