
include ~bemuse/view/utils

.experiment-view
  h1 An Experiment on Audio+Input Latency Calibration for Rhythm Action Games
  h2 1. Click the button
  +if('showStart')
    button(on-click='start') Start the Music
  +if('showLoading')
    button(disabled) Loading Music (~700kb)
  +if('showStarted')
    button(disabled) Playing Music
  h2 2. Listen to the beats...
  +if('!showCollection && showStarted')
    h2 3. (please wait)
  +if('showCollection')
    h2 3. Press space bar (mobile phone: tap the screen) when you hear the "kick drum"
    +if('showCollect')
      p {{numSamples}} samples recorded.
      p We need 56 to 84 samples.
  +if('showSending')
    h2 4. Sending results to server
  +if('showThank')
    div.experiment--result
      h2 5. Finished! Thank you!
      p
        b Your computer's audio+input latency is {{latency}} ms
      p More results will be published later
      p Thank you!
      p This song will loop forever.
