
include ~bemuse/view/utils

.game-shell
  h1 Bemuse Game Shell
  p This tool is intended for developers testing the game.

  form(on-submit='submit')
    div.text
      label
        span.label BMS URL:
        input(type='text' value='{{options.url}}')
    div.text
      label
        span.label -or- Drop BMS folder here
        div.drop-zone(on-dragover='dragover' on-drop='drop')
          +inverted-section('files')
            div.drop-zone-hint
              | Drop BMS folder here
              br
              | (only works on Google Chrome)
          +section('files')
            div
              a(href='javascript://' on-click='playFile') {{name}}
    div.text
      label
        span.label Audio-Input Latency
        input(type='text' value='{{options.game.audioInputLatency}}')
    +section('options.players', 'index')
      h2 Player {{index + 1}}
      div.text
        label
          span.label HI-SPEED:
          input(type='text' value='{{speed}}')
      div.checkbox
        label
          input(type='checkbox' checked='{{autoplay}}')
          span.label AUTOPLAY
    button(type='submit') Play

