
h1 Coming Soon

ul
  li
    a(href="https://github.com/bemusic/bemuse") GitHub Project
  li
    a(href="https://waffle.io/bemusic/bemuse") Waffle.io Board
  li
    a(href="/badgeboard/") Badgeboard
  li
    a(href="https://gitter.im/bemusic/bemuse") Gitter Chat
