
@import "~bemuse/ui/common";

.custom-bms {
  &--wrapper {
    padding: 1em;
  }
  &--instruction {
    margin-bottom: 1ex;
    font-weight: bold;
  }
  &--remark {
    &::before { content: "※ "; }
    color: #8b8685;
  }
  &--dropzone {
    @include center-content;
    border: 3px dashed #7b7675;
    height: 240px;
    margin-top: 1ex;
    &.is-hover {
      background: rgba(white, 0.1);
      .custom-bms--dropzone-hint {
        color: #ff8;
        text-shadow: 0 0 8px #ff0;
      }
    }
  }
  &--dropzone-hint {
    font-size: 1.8em;
    text-transform: uppercase;
    color: #8b8685;
  }
  &--log {
    @include scrolling-y;
    width: 100%; height: 100%;
    box-sizing: border-box;
    padding: 1ex;
    > p {
      margin: 0;
      line-height: 1.3em;
    }
  }
}
