@import "~bemuse/ui/common";

.music-select-scene {

  @extend %scene;
  @include main-bg;

  font: 2.5vmin $ui-font;

  &--loading {
    @include centered;
    font-size: 5vmin;
    text-align: center;
    color: rgba(black, 0.5);
    text-shadow: 0 2px 0 rgba(white, 0.3);
  }

  &--search {
    position: absolute;
    top: 50%; right: 5vw;
    transform: translateY(-50%);
    width: 8em;
    font: 0.4em $ui-font;
    padding: 0.3em;
    border: 1px solid #ddd;
    background: linear-gradient(to bottom, #f5f4f3, #fff);
    border-radius: 1em;
    text-indent: 1ex;
  }

  .scene-heading {
    z-index: 10;
  }

  .music-list {
    @include full-screen;
    @include scrolling-y;
    padding: 25vmin 0 3vmin;
  }

  .music-info {
    @include scrolling-y;
    position: absolute;
    top: 0; right: 5vw; bottom: 0; left: 52vw;
  }

}
