@import "~bemuse/ui/common";

.music-select-scene {

  @include main-bg;
  font: 2.5vmin $ui-font;

  &--loading {
    @include centered;
    font-size: 5vmin;
    text-align: center;
    color: rgba(black, 0.5);
    text-shadow: 0 2px 0 rgba(white, 0.3);
  }

  &--main {
    @include full-screen;
  }

  &--unofficial-label {
    $color: #f4f3b8;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6em;
    display: inline-block;
    margin-left: 1.5ex;
    background: $color;
    line-height: 1.2;
    padding: 0.3em 0.6em;
    border: 1px solid darken($color, 25%);
    box-shadow: 0 1px 2px rgba(black, 0.2);
    color: darken($color, 64%);
    border-radius: 3px;
    font-weight: normal;
    z-index: 15;
    cursor: pointer;
    &:hover {
      background: lighten($color, 10%);
    }
  }

  &--search {
    position: absolute;
    top: 50%; right: 5vw;
    transform: translateY(-50%);
    width: 8em;
    font: 0.4em $ui-font;
    padding: 0.3em;
    border: 1px solid #ddd;
    background: linear-gradient(to bottom, #f5f4f3, #fff);
    border-radius: 1em;
    text-indent: 1ex;
  }

  .scene-heading {
    z-index: 10;
  }

  .music-list {
    @include full-screen;
    @include scrolling-y;
    padding: 25vmin 52vw 3vmin 5vw;
  }

  .music-info {
    @include scrolling-y;
    position: absolute;
    top: 0; right: 5vw; bottom: 0; left: 52vw;
    padding-top: 25vmin;
  }

  @media (orientation: portrait) {
    &--main {
      transform: translateX(0);
      transition: 0.3s transform;
      &.is-in-song {
        transform: translateX(-70vw);
      }
    }
    .music-list {
      padding: 25vmin 10vw 3vmin;
    }
    .music-info {
      right: auto;
      left: 100vw; width: 70vw;
    }
  }

  &--custom-bms .custom-bms {
    width: 640px;
    max-width: 95vw;
  }

}
