
@import "~bemuse/ui/common";

.music-chart-selector-item {
  list-style: none;
  border: 2px solid #8ac;
  height: 12vmin;
  line-height: 12vmin;
  font-size: 5vmin;
  text-align: center;
  background: rgba(#fff, 0.8);
  border-radius: 2vmin;
  cursor: pointer;
  position: relative;
  &.is-active {
    background: #8ac;
    color: white;
    animation: 3s music-chart-selector-item--active-animation infinite;
  }
  &.is-insane {
    border-color: #c66;
    &.is-active {
      background: #c66;
      animation: 3s music-chart-selector-item--active-animation--insane infinite;
    }
  }
  &--level {
    opacity: 1;
    transition: 0.3s opacity;
  }
  &--play {
    @include centered;
    opacity: 0;
    transition: 0.3s opacity;
  }
  &:not(.is-tutorial).is-active:hover {
    .music-chart-selector-item--play {
      opacity: 1;
    }
    .music-chart-selector-item--level {
      opacity: 0;
    }
  }
}

@keyframes music-chart-selector-item--active-animation {
  $color: #8ac;
  $color1: lighten($color, 10%);
  $color2: darken($color, 10%);
  0% { background: $color1; }
  50% { background: $color2; }
  100% { background: $color1; }
}

@keyframes music-chart-selector-item--active-animation--insane {
  $color: #c66;
  $color1: lighten($color, 10%);
  $color2: darken($color, 10%);
  0% { background: $color1; }
  50% { background: $color2; }
  100% { background: $color1; }
}
