
@import "~bemuse/ui/common";

.music-info-tabs {
  $inactive-bg: rgba(#aaa, 0.3);
  $active-bg: rgba(#fff, 0.6);
  &--tabs {
    margin: 0;
    padding: 0 2vw;
    list-style: none;
  }
  &--options {
    float: right;
    line-height: 2em;
    cursor: pointer;
    color: #666;
  }
  &--tab {
    display: inline-block;
    padding: 0 0.5em;
    line-height: 2em;
    background: $inactive-bg;
    margin-right: 0.3em;
    cursor: pointer;
    &:first-child {
      margin-left: -0.5em;
    }
    &.is-active {
      background: $active-bg;
      font-weight: bold;
      cursor: default;
    }
  }
  &--panel {
    background: $active-bg;
    padding: 0.8em 2vw;
    &.is-without-padding {
      padding: 0;
    }
  }
}
