
.MusicInfoTabStats {
  overflow: hidden;
  &のmessage {
    text-align: center;
  }
  &のcolumn {
    width: 45%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    &.is-left { float: left; }
    &.is-right { float: right; }
    > dt {
      float: left;
      clear: left;
      font-size: 1em;
      line-height: 1;
      padding: 1em 0 0.5em;
    }
    > dd {
      float: right;
      text-align: right;
      font-size: 1.5em;
      line-height: 1;
      padding: 0.45em 0 0;
      line-height: 1em;
      small {
        font-size: 0.5em;
        font-weight: 600;
      }
    }
  }
}
