
.MusicChartSelector {
  list-style: none;
  padding: 0;
  .MusicChartSelectorItem {
    display: inline-block;
    width: 4.5rem;
    box-sizing: border-box;
    margin: 0.25rem 0.5rem 0.25rem 0;
    &.is-tutorial {
      display: block;
      width: auto;
      margin-right: 0;
    }
  }
}
