
@import "~bemuse/ui/common";

.music-info-tab-information {
  overflow: hidden;
  &--buttons {
    margin: 0;
    float: right;
    > a {
      display: inline-block;
      padding: 0 0.5em;
      line-height: 2em;
      color: #555;
      text-decoration: none;
      background: rgba(#aaa, 0.3);
      border: 1px solid rgba(#aaa, 0);
      transition: 0.3s color, 0.3s background-color, 0.3s border-color;
      margin-right: 0.3em;
      &:hover {
        background: #fff;
        color: $link-color;
        border-color: rgba(#aaa, 0.5);
      }
    }
  }
  &--artist {
    margin: 0;
    span {
      color: #666;
      font-size: 0.8em;
      text-transform: uppercase;
      margin-right: 0.5ex;
    }
    > strong {
      font-size: 1.3em;
    }
  }
  &--readme {
    clear: both;
    font-size: 0.9em;
    @include scrolling-x;
    pre {
      white-space: pre-wrap;
    }
  }
}
