
@import "~bemuse/ui/common";

.OptionsPlayer {
  padding: 1em;
  &のrow {
    display: flex;
    margin-bottom: 1ex;
    align-items: baseline;
    > label {
      width: 4em;
      text-align: right;
      margin-right: 12px;
      font-weight: bold;
      color: #8b8685;
    }
    > div {
      flex: 1;
    }
  }
  &のhint {
    color: #8b8685;
    font-size: 0.9em;
  }
  &のhelp {
    color: #8b8685;
    font-size: 0.9em;
    margin-top: 0.5ex;
    &[title] {
      cursor: help;
    }
  }
  &のbuttons {
    margin-top: 1em;
    text-align: right;
    font-size: 1.2em;
  }
}
