
@import "~bemuse/ui/common";

.OptionsAdvanced {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

  &のgroup {
    display: flex;
    align-items: baseline;
  }
  &のgroup > label {
    font-weight: bold;
    color: #8b8685;
    margin-right: 1em;
  }

  &のgroupItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5em;
  }
  &のgroupItem > .OptionsInputField {
    text-align: right;
    width: 4em;
  }
  &のgroupItem > label {
    display: block;
    text-align: center;
    color: #8b8685;
    font-size: 0.9em;
  }

}
