
@import "~bemuse/ui/common";

.options {
  display: flex;
  flex-direction: row-reverse;
  font-size: 15px;
  @media (orientation: portrait) {
    flex-direction: column;
  }
  &--vgroup {
    display: flex;
    flex-direction: column;
  }
  .panel {
    margin: 0.8em;
  }
}
