
@import "~bemuse/ui/common";

.options-speed {
  .options-button {
    width: 2em;
  }
  &--minus .options-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .options-speed-input {
    @include input;
    text-align: center;
    width: 3em;
    border-radius: 0;
    margin-left: -1px;
  }
  &--plus .options-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
  .options-speed-input {
    @include input-button-zindex(20);
  }
  .options-button {
    @include input-button-zindex(21);
  }
}
