
@import "~bemuse/ui/common";

.OptionsPlayerGraphics {
  border: 1px solid #8b8685;
  display: inline-block;
  &.is-active {
    border: 1px solid #bef;
    outline: 1px solid #bef;
  }
  svg {
    display: block;
  }
  &„ÅÆline {
    fill: none;
    stroke: #8b8685;
    stroke-width: 1;
    .OptionsPlayerGraphics.is-active & {
      stroke: #a9a8a7;
    }
  }
}
