
@import "~bemuse/ui/common";

.options-player {
  padding: 1em;
  &--row {
    display: flex;
    margin-bottom: 1ex;
    > label {
      width: 4em;
      text-align: right;
      margin-right: 12px;
      font-weight: bold;
      color: #8b8685;
    }
    > div {
      flex: 1;
    }
  }
}
