
@import "~bemuse/ui/common";

.options-player-selector {
  display: flex;
  .options-player-graphics {
    vertical-align: top;
  }
  &--label {
    text-align: center;
    color: #8b8685;
  }
  &--item.is-active .options-player-selector--label {
    color: #bef;
  }
  &--item:not(.is-active) {
    cursor: pointer;
  }
  &--item:not(:first-child) {
    margin-left: 1ex;
  }
}
