
@import "~bemuse/ui/common";

.options-input {
  display: flex;
  align-items: stretch;
  padding: 2em;
  &.is-reverse {
    flex-direction: row-reverse;
  }
  &--zone {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 12px;
  }
  &--control {
    flex: 1;
  }
  &--title {
    text-align: center;
    padding-top: 1ex;
    color: #8b8685;
  }
}
