
@import "~bemuse/ui/common";

.options-button {
  font: inherit;
  background: #252423 linear-gradient(to bottom, #454443, #151413);
  border: 1px solid #555453;
  padding: 0.5ex 1.3ex;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(#000, 0.5);
  &:hover {
    border-color: #656463;
  }
  &:focus {
    border-color: #8b8685;
    outline: 0;
  }
  &:active {
    background: #252423 linear-gradient(to top, #353433, #151413);
    border-color: #454443;
  }
}
