
@import "~bemuse/ui/common";

.OptionsInput {
  display: flex;
  align-items: stretch;
  padding: 2em;
  &.is-reverse {
    flex-direction: row-reverse;
  }
  &のzone {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 12px;
  }
  &のcontrol {
    flex: 1;
  }
  &のtitle {
    text-align: center;
    padding-top: 1ex;
    color: #8b8685;
  }
}
