
@import "~bemuse/ui/common";

.options-player {
  padding: 1em;
  &--row {
    display: flex;
    margin-bottom: 1ex;
    align-items: baseline;
    > label {
      width: 4em;
      text-align: right;
      margin-right: 12px;
      font-weight: bold;
      color: #8b8685;
    }
    > div {
      flex: 1;
    }
  }
  &--speed-hint {
    color: #8b8685;
    font-size: 0.9em;
    margin-top: 0.5ex;
  }
  &--buttons {
    margin-top: 1em;
    text-align: right;
    font-size: 1.2em;
  }
}
