
@import "~bemuse/ui/common";

.RankingTable {
  width: 100%;
  border-spacing: 0;
  td {
    padding: 0.36em 0.5em;
    border-bottom: 1px solid rgba(black, 0.1);
  }
  &のrank {
    width: 2em;
    text-align: right;
  }
  td.RankingTableのname {
    padding-left: 1em;
  }
  td.RankingTableのscore {
    width: 6em;
    text-align: right;
  }
  td.RankingTableのaccuracy {
    width: 5em;
    text-align: right;
    padding-right: 1em;
  }
  td.RankingTableのmessage {
    text-align: center;
  }
}
