
@import "~bemuse/ui/common";

.ranking {
  color: #111;
  &--title {
    padding: 0.4em 1em 0;
    font-weight: bold;
  }
  &--error {
    color: #d55;
  }
  &--error-retry {
    font-weight: normal;
    color: #369;
    text-decoration: none;
  }
  &--error-description {
    color: #888;
  }
}
