
@import "~bemuse/ui/common";

.ranking-table {
  width: 100%;
  border-spacing: 0;
  td {
    padding: 0.36em 0.5em;
    border-bottom: 1px solid rgba(black, 0.1);
  }
  &--rank {
    width: 2em;
    text-align: right;
  }
  td.ranking-table--name {
    padding-left: 1em;
  }
  td.ranking-table--score {
    width: 6em;
    text-align: right;
  }
  td.ranking-table--accuracy {
    width: 5em;
    text-align: right;
    padding-right: 1em;
  }
  td.ranking-table--message {
    text-align: center;
  }
}
