
@import "~bemuse/ui/common";

.result-scene {
  @include scene-background(url(~bemuse/ui/images/bg/b.jpg));
  $bottom-padding: calc(32px + 4vh);

  color: black;

  &--report {
    position: absolute;
    top: 25vmin; right: 52vw; bottom: 3vmin; left: 5vw;
  }

  &--information {
    background: rgba(white, 0.8);
    position: absolute;
    top: 0; right: 5vw; bottom: 0; left: 52vw;
    padding-top: 25vmin;
    padding-bottom: $bottom-padding;
    display: flex;
    flex-direction: column;
  }

  &--information-header {
    flex: 0 0 auto;
  }

  &--information-body {
    flex: 1 0 auto;
    margin: 4vh 0 4vh;
    background: rgba(white, 0.6);
  }

  &--information-footer {
    flex: 0 0 auto;
    padding: 0 2vw;
    display: flex;
    justify-content: flex-end;
  }

  .music-chart-info {
    margin: 0 2vw;
  }

  .result-grade {
    position: absolute;
    bottom: $bottom-padding; right: 52vw;
    width: 20vh; height: 20vh;
  }

  &--chart {
    float: right;
    margin-right: 2vw;
    text-align: center;
  }

  &--mode {
    opacity: 0.5;
    position: absolute;
    right: 8vw;
    top: 5vmin;
    line-height: 16vmin;
    font-size: 5vmin;
    text-align: right;
  }

  .music-chart-selector-item {
    width: 12vmin;
  }

  &--exit {
    display: inline-block;
    background: #5a5;
    border: 2px solid darken(#5a5, 5%);
    text-align: center;
    font-size: 3vmin;
    color: #fff;
    padding: 1ex 2ex;
    cursor: pointer;
    border-radius: 2vmin;
  }

}
