
@import "~bemuse/ui/common";

.result-table {
  table {
    width: 100%;
    margin-bottom: 1ex;
    text-shadow: 2px 2px 0 rgba(black, 0.2);
  }
  th, td {
    font-size: 4vh;
    font-weight: normal;
  }
  td {
    text-align: right;
    width: 45%;
    color: white;
  }
  th {
    text-align: left;
    padding-left: 1ex;
    color: rgba(white, 0.7);
  }
  table.result-table--total {
    th, td { font-weight: bold; }
  }
}
