@import "~bemuse/ui/common";

.TitleScene {
  background: #415067 url('~!!url!./images/bg-title.placeholder.png') 50% 90% no-repeat;
  background-size: cover;

  &のimage {
    background: url('./images/bg-title.jpg') 50% 90% no-repeat;
    background-size: cover;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  &のpage {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &のpageTitle {
    position: relative;
    height: 100%;
  }

  &のpageContents {
    background: white;
    color: #353433;
  }

  &のlogo {
    position: absolute;
    top: 32%; left: 50%;
    transform: translate(-50%,-50%);
    width: 75vw;
    background-size: contain;
    animation: 0.8s TitleSceneのfadeIn;
    @media (min-width: 640px) {
      width: calc(30vw + 288px);
    }
    > img {
      width: 100%;
      display: block;
    }
  }

  &のtagline {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    opacity: 0.5;
  }

  &のcurtain {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; background: black;
    animation: 0.8s TitleSceneのcurtain;
    opacity: 0;
    pointer-events: none;
  }

  &のenter {
    position: absolute;
    top: 70%; left: 50%;
    transform: translate(-50%,-50%);
    animation: 0.8s TitleSceneのenterFadeIn;
    > a {
      color: rgba(black, 0.9);
      font-size: 3rem;
      background: rgba(#fff, 0.8);
      padding: 0.5ex 1.2ex;
      border-radius: 2em;
      display: block;
      text-decoration: none;
      transform: scale(1);
      transition: 0.1s transform, 0.1s background;
      &:hover {
        background: rgba(#fff, 1.0);
        transform: scale(1.1);
      }
    }
  }

  // HACK: fade in
  .SceneToolbar {
    animation: 0.8s TitleSceneのtoolbar;
  }
}

@keyframes TitleSceneのtoolbar {
  from { transform: translateY(1rem); }
  to { transform: translateY(0); }
}

@keyframes TitleSceneのcurtain {
  from { opacity: 1; }
  to { opacity: 0; }
}


@keyframes TitleSceneのfadeIn {
  0% { opacity: 0; transform: translate(-50%, -50%) translate(0, -1rem); }
  100% { opacity: 1; transform: translate(-50%, -50%); }
}

@keyframes TitleSceneのenterFadeIn {
  0% { opacity: 0; transform: translate(-50%, -50%) translate(0, -1em); }
  100% { opacity: 1; transform: translate(-50%, -50%); }
}
