@import "~bemuse/ui/common";

.TitleScene {
  background: #415067 url(./images/bg-title.jpg) 50% 90% no-repeat;
  background-size: cover;

  &のlogo {
    position: absolute;
    top: 18%; left: 50%;
    transform: translate(-50%,0);
    background: url(./images/logo-with-shadow.svg) center no-repeat;
    width: 75vw;
    height: 30vh;
    background-size: contain;
    animation: 0.8s TitleSceneのfadeIn;
    @media (min-width: 640px) {
      width: calc(30vw + 288px);
    }
  }

  &のcurtain {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; background: black;
    animation: 0.8s TitleSceneのcurtain;
    opacity: 0;
    pointer-events: none;
  }

  &のenter {
    position: absolute;
    top: 70%; left: 50%;
    transform: translate(-50%,-50%);
    animation: 0.8s TitleSceneのenterFadeIn;
    > a {
      color: rgba(black, 0.9);
      font-size: 3rem;
      background: rgba(#fff, 0.8);
      padding: 0.5ex 1.2ex;
      border-radius: 2em;
      display: block;
      text-decoration: none;
      transform: scale(1);
      transition: 0.1s transform, 0.1s background;
      &:hover {
        background: rgba(#fff, 1.0);
        transform: scale(1.1);
      }
    }
  }

  &のversion {
    position: relative;
    display: inline-block;
  }

  &のnewVersion {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translate(-50%, -100%);
    animation: 0.5s TitleSceneのnewVersion;
  }

  &のnewVersionContent {
    position: relative;
    display: block;
    background: #B61A44;
    padding: 8px 12px;
    color: white;
    white-space: nowrap;
    border-radius: 8px;
    font-weight: bold;
    animation: 1.8s TitleSceneのnewVersionContent linear infinite;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      bottom: -8px;
      left: 50%;
      margin-left: -8px;
      border-width: 8px 8px 0 8px;
      border-style: solid;
      border-color: transparent;
      border-top-color: #B61A44;
    }
  }

  // HACK: fade in
  .SceneToolbar {
    animation: 0.8s TitleSceneのtoolbar;
  }
}

@keyframes TitleSceneのtoolbar {
  from { transform: translateY(1rem); }
  to { transform: translateY(0); }
}

@keyframes TitleSceneのnewVersion {
  from {
    transform: translate(-50%, -200%);
    opacity: 0;
  }
}

@keyframes TitleSceneのcurtain {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes TitleSceneのnewVersionContent {
  0% { transform: translateY(0); animation-timing-function: ease-out; }
  25% { transform: translateY(-3px); animation-timing-function: ease-in; }
  50% { transform: translateY(0); animation-timing-function: ease-out; }
  75% { transform: translateY(3px); animation-timing-function: ease-in; }
  100% { transform: translateY(0); }
}

@keyframes TitleSceneのfadeIn {
  0% { opacity: 0; transform: translate(-50%, -1rem); }
  100% { opacity: 1; transform: translate(-50%, 0); }
}

@keyframes TitleSceneのenterFadeIn {
  0% { opacity: 0; transform: translate(-50%, -50%) translate(0, -1em); }
  100% { opacity: 1; transform: translate(-50%, -50%); }
}
