
@import "~bemuse/ui/common";

.unofficial-panel {
  max-width: 30em;
  &--content {
    padding: 1em;
    > p {
      margin: 0;
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
  &--buttons {
    text-align: right;
  }
}
