
.bemuse-boot--title
  span.bemuse-boot--text BE
  span.bemuse-boot--star &#9734;
  span.bemuse-boot--text MU
  span.bemuse-boot--star &#9734;
  span.bemuse-boot--text SE
.bemuse-boot--progress
  .bemuse-boot--progress-bar.js-progress-bar
.bemuse-boot--description Loading
.bemuse-boot--version.js-version
