
.error-dialog {

  background: #533;
  color: #edd;

  border: 2px solid #b77;
  position: fixed;

  z-index: 99999;

  top: 10px;
  left: 10px;
  padding: 10px;
  max-width: 640px;

  h1, p {
    margin: 0;
    font-size: 1em;
    line-height: 1.3;
  }

  h1 {
    color: #fcc;
  }

  pre {
    margin: 1em 0 0;
    font-family: Menlo, Consolas, monospace;
    font-size: 0.8em;
    line-height: 1.3;
    opacity: 0.7;
  }

  &--where {
    font-size: 0.8em;
    color: #faa;
  }

  &--close {
    position: absolute;
    top: 1ex; right: 1ex; background: lighten(#633, 0.1);
    width: 1.3em; height: 1.3em; line-height: 1.3em; text-align: center;
    cursor: pointer;
    border: 1px solid #955;
    &:hover {
      background: #844;
      border-color: #d77;
    }
  }

}
