.gridBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.gridBlock > * {
  box-sizing: border-box;
}

@media only screen and (min-width: 736px) {
  .girdBlock > * {
    margin: 0 12px;
  }
  .blockElement {
    flex: 1 0 26%;
  }
  .blockElement > :first-child {
    margin-left: 0;
  }
  .blockElement > :last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 735px) {
  .blockElement {
    padding: 20px 0 !important;
  }
}

.title {
  margin-top: 1.5em;
}
