
@import "~bemuse/ui/common";

.authentication-panel {
  &--layout {
    display: flex;
    align-items: stretch;
  }
  &--title {
    padding: 12px 12px 24px;
    img {
      width: 143px;
      height: 143px;
    }
  }
  &--identification {
    color: #8b8685;
    font-size: 32px;
    padding-left: 10px;
  }
  &--content {
    padding: 16px 26px 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--mode-switcher {
    text-align: center;
    margin-bottom: 16px;
    color: #8b8685;
    a {
      color: #8b8685;
    }
    a.is-active {
      color: #bef;
      font-weight: bold;
      cursor: default;
      text-decoration: none;
    }
  }
  &--message {
    color: #ff6;
    &.is-error {
      color: #f88;
    }
  }
}
