@import "~bemuse/ui/common";

.music-list {

  @include full-screen;
  @include scrolling-y;
  padding: 25vmin 0 3vmin;
  margin: 0;
  list-style: none;

  .music-list-item {
    margin: 2vmin;
    margin-left: 5vw;
    margin-right: 52vw;
  }

}
